
      <div id="app">
        <div class="about-wrapper hidden" background-image-src="img/nature_photography/Arthur_s Seat_extinct_volcano_Edinburgh.jpg">
          <div class="about-inner">
            <h2>Sarah Houben</h2>
            <h3>Science Communication - Photography</h3>
            
            <div class="about-section">
              <div class="about-text">
                <p>
                    Sarah Houben is a freelance science writer and photographer. She has a diverse portfolio, having written about topics such as sustainability, healthcare technology, nature conservation and science start-ups. As a professional photographer, she showcases the scientific world, often utilising macro photography and microscopy techniques. By combining writing and photography in her work, she aims to make complex scientific research easily accessible to a broad audience. 
                </p>
                <p>
                  Sarah has dedicated herself to science communication since 2015, as an editor of the Wunderding magazine, and as a freelance science writer. She has also spent a year gaining insight into the science publishing world, while working as a publishing assistant for the open access Nature journal Scientific Reports in London.
                </p>
                    
                <p>
                  Sarah is currently based in Berlin. She has lived in various countries around the world, including Australia, Great Britain and Germany and has been educated in German and English. She has a bachelor’s degree in Biosciences by the Westfälische Wilhelms Universität, a master’s in Biological Photography and Imaging from The University of Nottingham and is a Graduate Imaging Scientist & Associate (GIS ARPS) of the Royal Photographic Society.
                </p>
                    
                </div>
            </div>
            <div class="about-lower">
              <div class="about-avatar-container"><img class="about-avatar" src="img/about/Sarah Houben BW.jpg" alt="Sarah Houben Profile"></div>
              <div class="about-profile-text">
                  <p>
                      If you’re interested in working on a project with her, please don’t hesitate to <a class="nav-link" href="contact.html">get in touch</a>.    
                    </p>
              </div>
              </div>
          </div>
        </div>


      <link rel="stylesheet" href="css/about.css">
      </div>
