
      <div id="app">
        <div class="home">
          <div class="main-view-logo">
            <h2><img src="img/S Houben transp_Version 2 onblack.png" alt="Sarah Houben Official Logo Science and Nature "></h2>
            <p>Science Communication - Photography</p>

          </div>
          <div class="main-view-wrapper" background-image-src="img/nature_photography/Merlin_Falco_columbarius.jpg">
    
          </div>
          <link rel="stylesheet" href="css/main.css">
        </div>

      </div>

