
<div id="app">
    <div class="gallery">
  
        <div class="row">  
            <div>
                <img class="preload-img" src="img/lab_photography/Daphnia_pulex.jpg" alt="Daphnia pulex">
                <p><em>Daphnia pulex</em>. This species of water flea reaches a size of 2 to 3 mm and lives in freshwater.</p>
            </div>
            
            <div>
                <img class="preload-img" src="img/lab_photography/Polyphemus_pediculus.jpg" alt="Polyphemus pediculus">
                <p><em>Polyphemus pediculus</em>. This freshwater crustacean reaches a size of 0.7 to 1.8 mm.</p>
            </div>
    
            <div>
                <img class="preload-img" src="img/lab_photography/Dikerogammerus_haemophabes_precopulatory_pairing.jpg" alt="Dikerogammerus haemophabes forming a precopulatory pairing.">
                <p><em>Dikerogammerus haemophabes</em> forming a precopulatory pairing - the larger male is holding the smaller female. A few freshly emerged juveniles are swimming close by. These freshwater crustaceans are also kown as demon shrimp.</p>
            </div>    
                
            <div>
                <img class="preload-img" src="img/lab_photography/Two_crustaceans_of_the_order_Cyclopoidea.jpg" alt="Two crustaceans of the order Cyclopoidea with egg-sacs.">
                <p>Two crustaceans of the order Cyclopoidea. Animals of this order reach a size between 0.5 to 3 mm. The females carry the characteristic egg-sacs, as seen on the top right.</p>
            </div>
                
        </div>
        
        <div class="row">
            <div>
                <img class="preload-img" src="img/lab_photography/Otolith_of_a_Yellowbar_Angelfish_Pomacanthus_maculosus.jpg" alt="Otolith of a Yellowbar Angelfish Pomacanthus maculosus">
                <p>Otolith of a yellowbar angelfish (<em>Pomacanthus maculosus</em>). These structures, commonly known as "earstones" can be used to estimate the age of the fish by counting the rings, annuli, visible on the otolith. It is estimated that one annulus equals one year of growth. This fish reached an age of about 9 years.</p>
            </div>
                
            <div>
                <img class="preload-img" src="img/lab_photography/Drosphila_suzukii_ovaries.jpg" alt="Drosphila suzukii ovaries">
                <p>Ovaries of a spotted wing drosophila (<em>Drosophila suzukii</em>). The ovaries of this species of fruit fly were investigated to determine the influcence of temperature on the reproductive status of the pest species. The eggs, which can be seen within the ovaries, have a length of approximately 0.1 mm.</p>
            </div>                               
        </div>
        
            
        <div class="row">
            <div>
                <img class="preload-img" src="img/lab_photography/Swimming_Daphnia_magna.jpg" alt="swimming Daphnia magna">
                <p>Swimming <em>Daphnia magna</em>. This species of water flea reaches a size of 2 to 5 mm.</p>
            </div>
    
            <div>
                <img class="preload-img" src="img/lab_photography/Daphnia_magna.jpg" alt="Daphnia magna">
                <p><em>Daphnia magna</em>. The large, dark compound eye of this water flea is clearly visible.</p>
            </div>         
            <div>
                <img class="preload-img" src="img/lab_photography/Bloody_red_shrimp_Hemimysis_anomala.jpg" alt="Bloody red shrimp Hemimysis anomala">
                <p>Bloody red shrimp (<em>Hemimysis anomala</em>). This crustacean can reach a body size of up to 11 mm and is native to the Black Sea and Caspian Sea. This individual was however caught at Attenborough Nature Reserve, UK, where the species was first recorded in 2016. </p>
            </div>
        </div>
            
            
        <div class="row">
            <div>
                <img src="img/lab_photography/SEM_image_of_a_common_rough_woodlouse_Porcelio_scaber.jpg" alt="SEM image of a common rough woodlouse Porcelio scaber">
                <p>Scanning electron microscopy (SEM) image of a common rough woodlouse (<em>Porcelio scaber</em>). This land-dwelling crustacean can reach a body size of up to 17 mm.</p>
            </div>
            <div>
                <img src="img/lab_photography/Crangonyx pseudogracilis_SEM.jpg" alt="Crangonyx pseudogracilis_SEM">
                <p>Abdomen of a northern river crangonyctid (<em>Crangonyx pseudograciis</em>). When identifying the different species of gammarids. looking at the morphology of the abdomen can be very useful. In this case, the smooth surface of the urosome (large structure on the left) without spines or conical projections is characteristic for this gammaridean species. The structures carrying spines are called telson and uropods. The northern river crangonyctid reaches a size of up to 10.5 mm.</p>
            </div>
            <div>
                <img src="img/lab_photography/SEM_image_of_a_water_slater_Asellus_aquaticus.jpg" alt="SEM image of a water slater Asellus aquaticus">
                <p>Scanning electron microscopy (SEM) image of a water slater (<em>Asellus aquaticus</em>). This crustacean is closely related to woodlice but other than its land-dwelling relatives, it lives an aquatic live. It reaches a body size of up to 15 mm.</p>
            </div>       
        </div>
    
        <div class="row">
            <div>
                <img src="img/lab_photography/Sexual_dimorphism_of_Common_Blues_Polyommatus_icarus.jpg" alt="Sexual dimorphism of Common Blues Polyommatus icarus">
                <p>Common blue (<em>Polyommatus icarus</em>). The image shows the sexual dimorphism of this butterfly species - the butterflies on the left are male, whilst the butterflies with the duller colouration on the right are female. The common blue has a wing-span of 35 mm.</p>
            </div>
            <div>
                <img src="img/lab_photography/Elephant_hawk_moth_Deilephila_elpenor.jpg" alt="Elephant Hawk Moth Deilephila elpenor">
                <p>Elephant hawk moth (<em>Deilephila elpenor</em>). This moth is native to the UK and uses its colourful appearance to attract mates. It has a wing-span of 45 to 60 mm.</p>
            </div>
            <div>
                <img src="img/lab_photography/Scales_of_a_Blue_morpho_butterfly_Morpho_peleides.jpg" alt="Scales of a Blue morpho butterfly Morpho peleides">
                <p>Microscopy image showing the overlapping scales on the wing of a blue morpho butterfly (<em>Morpho peleides</em>). Each scale has a size of around 0.07 x 0.2 mm.</p>
            </div>
        </div>
            <div class="row">
            <div>
                <img src="img/lab_photography/Skull_of_an_owl.jpg" alt="Skull of an owl">
                <p>Skull of an owl, presumably of a little owl (<em>Athene noctua</em>).</p>
            </div>
            <div>
                <img src="img/lab_photography/Skull_of_a_green_wood_pecker_Picus_viridis.jpg" alt="Skull of a green wood pecker Picus viridis.jpg">
                <p>Skull of a green wood pecker (<em>Picus viridis</em>).</p>
            </div>  
            <div>
                <img src="img/lab_photography/Blaschka_glass_model_of_a_jellyfish.jpg" alt="Blaschka glass model of a jellyfish">
                <p>Blaschka glass model of a jellyfish. The delicate Blaschka glass sculptures were manufactured for museums and teaching institutions by the Czech-German father and son duo Leopold and Rudolf Blaschka between 1822 and 1895. This Blaschka model can be viewed at the Natural History Museum at Wollaton Hall, UK.</p>
            </div>
        </div>
    
    
        <div class="lightbox hidden">
            <div class="lightbox-close">
                Close
            </div>
            <div class="zoomer hidden">
            </div>
            <div class="content">
                <div class="lightbox-image"></div>
                <div class="caption"></div>
            </div>
            <div class="lightbox-left-arrow"><img src="img/arrow-left-b.png" alt=""></div>
            <div class="lightbox-right-arrow"><img src="img/arrow-left-b.png" alt=""></div>
        </div>
          



    </div>

      <link rel="stylesheet" href="css/nature_photos.css">

</div>
