
<div id="app">
  <div class="gallery">
 
    <div class="row">
        <div>
          <img class="preload-img" src="img/nature_photography/Puffins_Fratercula_arctica_at_the_Bempton_Cliffs_UK.jpg" alt="Puffins Fratercula arctica in their summer plumage at the Bempton Cliffs reserve, UK.">
          <p>Puffins (<em>Fratercula arctica</em>) in their summer plumage at the Bempton Cliffs reserve, UK.</p>
        </div>
        <div>
          <img class="preload-img" src="img/nature_photography/Eggs_of_an_Owl_butterfly_Caligo_memnon.jpg" alt="Eggs of an Owl butterfly Caligo Memnon">
          <p>Eggs of an Owl butterfly (<em>Caligo memnon</em>). Owl butterflies spend about 22 days of their roughly 130 day long life in the egg before hatching as caterpillars.</p>
        </div>
    </div>

    <div class="row">
      <div>
        <img class="preload-img" src="img/nature_photography/The_cadaver_of_a_coyote_Canis_latrans_found_at_Arches_National_Park_USA.jpg" alt="The cadaver of a coyote Canis latrans found at Arches National Park, USA.">
        <p>The cadaver of a coyote (<em>Canis latrans</em>) found at Arches National Park, USA.</p>
      </div>
      <div>
        <img class="preload-img" src="img/nature_photography/Arches_National_Park.jpg" alt="View over Arches National Park">
        <p>View over Arches National Park, USA.</p>
      </div>
      <div>
        <img class="preload-img" src="img/nature_photography/Giraffe_Giraffa_camelopardalis.jpg" alt="Portrait of a giraffe Giraffa camelopardalis">
        <p>Portrait of a giraffe (<em>Giraffa camelopardalis</em>). The long lashes help giraffes protect their eyes from sand.</p>
      </div>
    </div>

    <div class="row">
      <div>
        <img class="preload-img" src="img/nature_photography/Grooming_adult_mute_swan_Cygnus_olor.jpg" alt="Grooming adult mute swan Cygnus olor">
        <p>Grooming adult mute swan (<em>Cygnus olor</em>).</p>
      </div>
      <div>
        <img class="preload-img" src="img/nature_photography/Burrowing_owl_Athene_cunicularia.jpg" alt="Burrowing owl Athene cunicularia">
        <p>Burrowing owl (<em>Athene cunicularia</em>). This species of owl is known for its unique long legs, which are an adaptation to the species' ground-dwelling life style.</p>
      </div>
      <div>
        <img class="preload-img" src="img/nature_photography/Iridescent_feathers_on_a_Feral_Pigeon_Columbia_livia_domestica.jpg" alt="Iridescent feathers on a Feral Pigeon Columbia livia domestica">
        <p>Iridescent feathers on a feral pigeon (<em>Columbia livia domestica</em>).</p>
      </div>
      <div>
        <img class="preload-img" src="img/nature_photography/Merlin_Falco_columbarius.jpg" alt="Merlin Falco columbarius">
        <p>Merlin (<em>Falco columbarius</em>). The merlin belongs to the family of falcons and is the smallest bird of prey found in the UK.</p>
      </div>
    </div>

    <div class="row">
        <div>
          <img src="img/nature_photography/Village_in_Bukovina_Romania.jpg" alt="Village in Bukovina, Romania">
          <p>Village in Bukovina, Romania.</p>
        </div>
        <div>
          <img src="img/nature_photography/Red_deer_Cervus_elaphus_and_carrion_crow_Corvus_corone_at_Wollaton_Park_UK.jpg" alt="Red deer Cervus elaphus and carrion crow Corvus corone">
          <p>Red deer (<em>Cervus elaphus</em>) and carrion crow (<em>Corvus corone</em>) at Wollaton Park, UK.</p>.
        </div>
      </div>

      <div class="row">
        <div>
          <img src="img/nature_photography/Cliff_chipmunk_Tamias_dorsalis_at_Bryce_Canyon.jpg" alt="Cliff chipmunk Tamias dorsalis at Bryce Canyon">
          <p>Cliff chipmunk (<em>Tamias dorsalis</em>) at the Bryce Canyon National Park, USA. Two more of the 25 North American species of chipmunks can be found in the national park: the uinta chipmunk (<em>Neotamias umbrinus</em>) and the least chipmunk (<em>Tamias minimus</em>).</p>
        </div>
        <div>
          <img src="img/nature_photography/Antelope_Canyon_USA.jpg" alt="Lower Antelope Canyon, USA">
          <p>View of the Lower Antelope Canyon, USA. The slot canyon is also known under the name "The Corkscrew".</p>
        </div>
        <div>
          <img src="img/nature_photography/Reforestation_of_the_Whisby_Nature_Reserve_UK_with_birch_woodland.jpg" alt="Reforestation of the Whisby Nature Reserve, UK, with Birch woodland.">
          <p>Reforestation of the Whisby Nature Reserve, UK, with Birch woodland (Silver birch, <em>Betula pendula</em>).</p>

        </div>  
      </div> 

    <div class="row">
      <div>
        <img src="img/nature_photography/Arthur_s Seat_extinct_volcano_Edinburgh.jpg" alt="A misty afternoon at Arthur's Seat - the extinct volcano in the heart of Edinburgh, UK.">
        <p>A misty afternoon at Arthur's Seat - the extinct volcano in the heart of Edinburgh, UK.</p>
      </div>
      <div>
          <img src="img/nature_photography/Peak_District_National_Park_UK.jpg" alt="Peak District National Park, UK">
          <p>A view of the Peak District National Park, UK.</p>
        </div>
    </div>

    <div class="row">
      <div>
        <img src="img/nature_photography/One_of_the_250_species_of_bees_in_the_UK.jpg" alt="One of the 250 species of bees in the UK ready to collect nectar.">
        <p>One of the approximately 250 species of bees in the UK ready to collect nectar.</p>
      </div>
      <div>
        <img src="img/nature_photography/Edible_crab_Cancer_pagurus_at_a_rock_pool_at_Filey_Brigg_UK.jpg" alt="Edible crab Cancer pagurus at a rock pool at Filey Brigg, UK.">
        <p>Edible crab (<em>Cancer pagurus</em>) at a rock pool at Filey Brigg, UK. This species can be easily identified by the pie-crust edge with 10 lobes on its carapace.</p>
      </div>
      <div>
        <img src="img/nature_photography/Larva_of_a_zebra_longwing_Heliconus_charithonia_equipped_with_impressive_spikes_for_its_defense.jpg" alt="Larva of a zebra longwing Heliconus charithonia equipped with impressive spikes for its defense.">
        <p>Larva of a zebra longwing (<em>Heliconus charithonia</em>) equipped with impressive spikes for its defense.</p>
      </div>    
    </div>
    
    <div class="row">
      <div>
          <img src="img/nature_photography/Trees_at_Peak_District_National_Park_UK.jpg" alt="Peak District National Park, UK.jpg">
          <p>Trees at Peak District National Park, UK.</p>
        </div>
      <div>
        <img src="img/nature_photography/Fly_Agaric_Amanita_muscaria.jpg" alt="Fly Agaric Amanita muscaria">
        <p>Fly agaric (<em>Amanita muscaria</em>). These fungi are known for their poisonous properties.</p>
      </div>
      <div>
        <img src="img/nature_photography/Sheep_in_Llanidloes_UK.jpg" alt="Grazing sheep in Llanidloes, UK">
        <p>Grazing sheep in Llanidloes, UK.</p>
      </div>
      <div>
        <img src="img/nature_photography/Sherwood_forest_UK.jpg" alt="Sherwood forest, UK">
        <p>Morning in Sherwood Forest Country Park, UK.</p>
      </div>
    </div>


  </div>


    <div class="lightbox hidden">
      <div class="lightbox-close">
        Close
      </div>
      <div class="zoomer hidden">
      </div>
      <div class="content">
        <div class="lightbox-image"></div>
        <div class="caption"></div>
      </div>
      <div class="lightbox-left-arrow"><img src="img/arrow-left-b.png" alt=""></div>
      <div class="lightbox-right-arrow"><img src="img/arrow-left-b.png" alt=""></div>
    </div>
    <link rel="stylesheet" href="css/nature_photos.css">
</div>

