<div id="app">
    <div class="projects-wrapper">
        <h2>Writing</h2>

        <!-- <section class="project">
            <div class="project-img">
                <a href="http://www.wunderding.org/" target="_blank">
                    <img src="img/projects/Rocking_Science_Journalism.jpg" alt="Rocking Science Journalism">
                </a>
            </div>
            
            <div class="project-desc">
                <a href="http://www.wunderding.org/" target="_blank">
                    <h3>Leibniz Institute of Plant Genetic and Crop Plant Research</h3>
                </a>
                <p class="tagline">Research institution</p>
    
                <p>
                    Supporting the institute in their science outreach work as a science writer for the Leibniz Institute of Plant Genetic and Crop Plant Research (IPK). Press releases on the new findings. 
                    Science outreach
                    published on IPK-website, as well as the idw , EurekAlert
                </p>
                 </p>
                <div class="highlights">
                    <p><em>Highlights:</em></p>
                    
                    <p><a href="https://www.fallingwallsfragments.com/2016/06/01/a-different-picture-african-start-ups-and-their-way-to-build-the-future/" target="_blank">
                        “A different picture – African start-ups and their way to build the future“
                    </a></p>
                    <p><em>Source: EurekAlert!</em></p>
                    
                    <p><a href="http://www.wunderding.co/elentec/" target="_blank">
                        “One technology to clean them all – Elentec and their approach to water treatment“ 
                    </a></p>        
                    <p><em>Source: Informationsdienst Wissenschaft (idw)</em></p>
                </div>    
            </div>
        </section> -->
        <section class="project">
            <div class="project-img">
                <a href="http://www.wunderding.org/" target="_blank">
                    <img src="img/projects/Rocking_Science_Journalism.jpg" alt="Rocking Science Journalism">
                </a>
            </div>
            
            <div class="project-desc">
                <a href="http://www.wunderding.org/" target="_blank">
                    <h3>Wunderding.org</h3>
                </a>
                <p class="tagline">Science platform for students</p>
    
                <p>
                    Currently the Wunderding team are taking a step away from the science start-up world and are building a bridge between school education and the academic world of science. The redevelopment of Wunderding started within the frame of the “Rocking Science Journalism“ program by the <a href="http://medialab-bayern.de/rocking-science-journalism">Media Lab Bavaria</a>, with funding by the Robert Bosch Foundation. The new project is a science platform for students, the official launch of which is planned for the end of 2019.
                </p>
            </div>
        </section>

        <section class="project">
            <div class="project-img">
                <a href="http://www.wunderding.co/" target="_blank">
                    <img src="img/projects/Wunderding_web-magazine.jpg" alt="Wunderding magazine">
                </a>
            </div>
            <div class="project-desc">
                <a href="http://www.wunderding.co/" target="_blank">
                    <h3>Wunderding.co</h3>
                </a>
                <p class="tagline">Web-magazine</p>
                <p>Wunderding.so started as a a web-magazine on science start-ups and new developments within tech and science. It was founded by the science journalist Alexander Schlichter in 2015 with funding by the Robert Bosch Foundation. Sarah joined in December 2015 and since the Wunderding team has published a variety of articles, including interviews with science start-up founders, news on developments within AI (Artificial Intelligence), VR (Virtual Reality) and Genome Editing as well as covering inspirational projects outside of the science world.        
                <p>The Wunderding team also had the pleasure of working with the Falling Walls Foundation gGmbH in Berlin and providing a live coverage of the Falling Walls Venture via Social Media in 2016 and 2017.</p>
                <p> A print edition of the Wunderding magazine was published in November 2017. The PDF version can be downloaded <a href="img/projects/Wunderding_Magazin.pdf" target="_blank">here</a>.</p>
                 </p>
                <div class="highlights">
                    <p><em>Highlights:</em></p>
                    
                    <p><a href="https://www.fallingwallsfragments.com/2016/06/01/a-different-picture-african-start-ups-and-their-way-to-build-the-future/" target="_blank">
                        “A different picture – African start-ups and their way to build the future“
                    </a></p>
                    <p class="sources"><em>Source: Falling Walls Fragments</em></p>
                    
                    <p><a href="http://www.wunderding.co/elentec/" target="_blank">
                        “One technology to clean them all – Elentec and their approach to water treatment“ 
                    </a></p>        
                    <p class="sources"><em>Source: Wunderding.co</em></p>
                </div>    
            </div>
        </section>
     
    
        <section class="project">
            <div class="project-img">
                <a href="#" id="attenborough">
                    <img src="img/projects/Pages_from_Crustaceans_at_Attenborough_Nature_Reserve.jpg" alt="Pages from Crustaceans at Attenborough Nature Reserve">
                </a>
            </div>
            <div class="project-desc">
                <h3>Crustaceans at Attenborough Nature Reserve</h3>
                <p class="tagline">Master thesis project</p>
                <p>As a final project for her Master’s degree, Sarah investigated and photographed the different species of crustaceans found at Attenborough Nature Reserve (Nottinghamshire, UK). While the nature reserve is mainly know for its rich bird-life, its lakes and woodlands are also home to a variety of aquatic and terrestrial crustaceans. The project was documented within the book “Crustaceans at Attenborough Nature Reserve - the native, the alien and the invasive“.</p>
             
            </div>
            
        </section>
    
    
        <link rel="stylesheet" href="css/projects.css">
        <script> src="js/projects.js"</script>
    </div>

    </div>