.row {
  --padding: 5px;
  --padding-neg: -5px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: -5px;
  margin-top: var(--padding-neg);
}

.row ~ .row {
  margin-top: var(--padding);
}

.row div{
  margin: var(--padding) var(--padding) 0px var(--padding);
  /* display: inline-block; */
  height: auto;
  width: auto;
  background-size: cover;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 1s ease;
}

.row div:last-child{
  margin: var(--padding) 0px 0px var(--padding);
}
.row div:first-child{
  margin: var(--padding) var(--padding) 0px 0px;
}

.row div img{
  margin: 0;
  width: auto;
  height: auto;
}

.row p{
  visibility: hidden;
  text-align: center;
  position: absolute;
  top: 0;
}

.lightbox{
  position:absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  z-index: -1;
  background: white;
  transition: opacity 0.8s ease;
  overflow: scroll;
}

.lightbox .content, .zoomer{
  width: 80%;
  position: absolute;
  left: 10%;
  height: 80%;
  top: 6%;
  transition: opacity 0.3s;
  cursor: zoom-in;
}

.lightbox-image{
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;

}

.caption{
  margin: 10px auto;
  text-align: center;
  max-width: 80%;
}

.zoomer{
  background-size: auto !important;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  overflow: hidden;
  cursor: zoom-out;
}

.show-lightbox{
  z-index: 2;
  opacity: 1;
}

.lightbox-left-arrow{
  position:absolute;
  width: 35px;
  top: calc(50% - 20px);
  left: 5%;
}

.lightbox-right-arrow{
  position:absolute;
  transform: rotate(180deg);
  width: 35px;
  top: calc(50% - 20px);
  right: 5%;
}

.lightbox-content-fade{
  animation-name: lightbox-transition;
  animation-duration: 1s;
}

.lightbox-close{
  position: absolute;
  top: calc(10px + 1%);
  right: calc(10px + 2%);
  font-size: 1.2rem;
}

.lightbox-close:hover{
  opacity: 0.7;
  cursor: pointer;
}

@keyframes lightbox-transition{
  0%{ opacity: 1;}
  40% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}


@media (max-width: 760px){
  .row{
    --padding: 2px;
    --padding-neg: -2px;
  }

  .lightbox-close {
    font-size: 14px;
  }
  .lightbox .content{
    width: 70%;
    left: 15%;
  }

  .caption{
    max-width: 70%;
  }

}


@media (max-width: 500px) {
  .lightbox .content{
    height: 74%;
    width: 80%;
    left: 10%;
  }

  .caption{
    max-width: 80%;
  }

  .gallery{
    padding-top: 36px;
    box-sizing: border-box;
  }

  .lightbox-left-arrow, .lightbox-right-arrow{
    top: calc(84% - 20px);
  }
}
